.App {
  text-align: center;
}

html,
body,
#root,
.App,
.main {
  height: 100%;
  margin: 0px;
}

header {
  font-family: "Open Sans", sans-serif;
  height: 90px;
  width: 100%;
  position: fixed;
  background-color: rgb(62, 0, 106);
}

.top-linked-in-icon {
  position: absolute;
  left: 1%;
  top: 7%;
}

.navbar {
  display: inline-block;
  text-align: right;
  width: 100%;
  height: 100%;
}

.nav-items {
  height: 100%;
}

.navbar li {
  display: inline-block;
  padding: 12px;
  margin: 0px;
}

.nav-link {
  color: rgb(253, 253, 252);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  font-weight: bold;
  background-color: rgb(205, 230, 44);
}

#grad-slide {
  font-family: "Open Sans", sans-serif;

  height: 80vh;
  width: 100%;
  padding-top: 60px;
  display: flex;
  border-right: solid rgb(37, 255, 200) 30px;
  /* background-image: url("TediSimplerSlide.png"); */
  /* background-color: rgb(205, 230, 44); */
}

#grad-slide > img {
  display: inline-block;
  height: 100%;
  width: 30%;
}

#grad-slide > div {
  display: inline-block;
  height: 100%;
  width: 70%;
}

.grad-div {
  background-color: rgb(37, 255, 200);
}

.purple-div {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  padding: 50px 40px 100px 40px;
}

.purple-div p {
  height: 100%;
}
#divider {
  width: 100%;
  height: 150px;
  background-color: rgb(205, 230, 44);
  border-right: solid rgb(205, 230, 44) 30px;
}

section {
  font-family: "Open Sans", sans-serif;
  background: rgb(243, 247, 250);
  width: 100%;
  min-height: 60vh;
  /* border: 0.5px solid rgb(78, 135, 249); */
  padding: 10px;
  border-right: solid rgb(243, 247, 250) 10px;
}

section h2 {
  padding-top: 10%;
  padding-bottom: 1%;
}

/* .container-about-paragraphs * {
  display: inline-block;
  width: 45%;
  margin: 10px 30px;
}

.profile-pic {
  width: 30%;
} */

.container-about-paragraphs p {
  font-size: 1.5rem;
  text-align: left;
  padding: 20px;
}

#my-projects {
  color: rgba(0, 0, 206, 0.979);
}

.project {
  display: inline-block;
  font-weight: bold;
  width: 22%;
  margin: 30px 10px;
  padding: 10px 10px 10px 10px;
  height: 30vh;
  color: rgba(0, 0, 206, 0.979);
  /* border: 0.5px solid rgb(200, 78, 249); */
  background-color: rgb(181, 240, 255);
  border-radius: 7px;
  vertical-align: middle;
}

.project:hover {
  color: transparent;
}

.neighbor-fave:hover {
  background-image: url("NeighborFavePicWide.png");
  background-size: contain;
}

.chocolatier:hover {
  background-image: url("ChocolatierImage.png");
  background-size: contain;
}

.art:hover {
  background-image: url("BrrEmoji.jpg");
  background-size: contain;
}

.blog:hover {
  background-image: url("PicOfBlogCyberOptimism.png");
  background-size: contain;
}

.skills-div div {
  display: inline-block;
}

.contact-link {
  padding: 10px 8px;
}
