.App {
  text-align: center;
}
* {
  box-sizing: border-box;
}

html,
body,
#root,
.App,
.main {
  height: 100%;
  width: 100%;
  margin: 0px;
}

header {
  font-family: "Open Sans", sans-serif;
  height: 90px;
  width: 100%;
  position: fixed;
  background-color: rgb(62, 0, 106);
  z-index: 5;
}

.top-linked-in-icon {
  position: absolute;
  left: 1%;
  top: 11%;
}

.navbar {
  display: inline-block;
  text-align: right;
  width: 100%;
  height: 100%;
}

.nav-items {
  height: 100%;
}

.navbar li {
  display: inline-block;
  padding: 12px;
  margin: 0px;
}

.nav-link {
  color: rgb(253, 253, 252);
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
}

.nav-link:hover,
.nav-link:active,
.nav-link:focus {
  font-weight: bold;
  background-color: rgb(205, 230, 44);
}

/* #grad-slide {
  font-family: "Open Sans", sans-serif;

  height: 80vh;
  width: 100%;
  padding-top: 60px;
  display: flex;
  border-right: solid rgb(37, 255, 200) 30px;
  background-image: url("TediSimplerSlide.png");
  background-color: rgb(205, 230, 44);
} */
/*
#grad-slide > img {
  display: inline-block;
  height: 100%;
  width: 30%;
}

#grad-slide > div {
  display: inline-block;
  height: 100%;
  width: 70%;
}

.grad-div {
  background-color: rgb(37, 255, 200);
} */

/* .purple-div {
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  padding: 50px 40px 100px 40px;
} */

/* .purple-div p {
  height: 100%;
} */

#divider {
  width: 100%;
  height: 240px;
  background-color: rgb(205, 230, 44);
  border-right: solid rgb(205, 230, 44) 30px;
}

section {
  font-family: "Open Sans", sans-serif;
  background: rgb(243, 247, 250);
  width: 100%;
  min-height: 77vh;
  /* border: 0.5px solid rgb(78, 135, 249); */
  padding: 10px;
  border-right: solid rgb(243, 247, 250) 10px;
}

section h2 {
  padding-top: 17%;
  font-size: 3.5vw;
  color: black;
  /* padding-bottom: 1%; */
}

#about-me {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

.container-about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 30px;
}

.profile-pic {
  border-radius: 50%;
  border: solid 2px rgba(148, 148, 236, 0.979);
  clip-path: circle(150px at center);
  margin: 30px;
  background-image: url("profile-pic.PNG");
  background-size: contain;
  height: 300px;
  width: 300px;
}

.profile-pic:hover {
  background-image: url("LegoTediPic.png");
  background-size: contain;
  height: 300px;
  width: 300px;
}

.intro-div {
  font-size: 1.9rem;
  margin: 0px 50px;
}

.my-name {
  font-size: 4vw;
}

.my-title {
  font-size: 2vw;
}

.my-paragraph {
  font-size: 2.5vw;
  margin: 20px 70px;
}

.project {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: bold;
  width: 22%;
  margin: 20px 10px;
  padding: 10px 10px 5px 10px;
  height: 40vh;
  color: rgba(0, 0, 206, 0.979);
  /* border: 0.5px solid rgb(200, 78, 249); */
  background-color: rgb(181, 240, 255);
  border-radius: 7px;
  vertical-align: middle;
}

.project:hover {
  color: transparent;
}

.neighbor-fave:hover {
  background-image: url("NeighborFavePicWide.png");
  background-size: contain;
}

.chocolatier:hover {
  background-image: url("ChocolatierImage.png");
  background-size: contain;
}

.art:hover {
  background-image: url("BrrEmoji.jpg");
  background-size: contain;
}

.blog:hover {
  background-image: url("PicOfBlogCyberOptimism.png");
  background-size: contain;
}

.skills-div div {
  display: inline-block;
}

.contact-link {
  padding: 10px 8px;
  text-decoration: none;
  color: black;
}

.footer {
  background-color: rgb(205, 230, 44);
  position: fixed;
  width: 100%;
  height: 100px;
  bottom: 0%;
  z-index: 5;
}

@media screen and (max-width: 930px) {
  .navbar {
    display: flex;
  }
  .nav-items {
    position: absolute;
    top: 20%;
    width: 100%;
  }
  .navbar li {
    padding: 2px;
  }

  .nav-link {
    font-size: 1rem;
    font-weight: 900;
    padding: 4px;
    border-radius: 5px;
  }

  .top-linked-in-icon {
    /* visibility: hidden; */

    top: 11%;
    left: 3%;
  }

  .container-about {
    flex-direction: column;
    margin-top: 30px;
    z-index: 1;
  }

  .container-about * {
    padding: 10px;
  }

  .intro-div {
    font-size: 1.4em;
  }

  .my-name {
    font-size: 7.5vw;
  }

  .my-title {
    font-size: 5vw;
  }

  .profile-pic {
    margin: 0;
    padding: 0;
  }

  .my-paragraph {
    font-size: 4vw;
    margin: 0px 40px;
  }

  section h2 {
    font-size: 4vw;
  }

  #my-projects h2,
  #my-skills h2,
  #contact-me h2 {
    padding-top: 80px;
  }

  #my-projects {
    display: flex;
    flex-direction: column;
  }
  .project {
    width: 80%;
    padding: 20px;
  }

  #contact-me * {
    padding-top: 10px;
  }

  #divider {
    height: 100px;
  }
}

@media screen and (max-width: 500px) {
  section h2 {
    font-size: 6vw;
  }
}

@media screen and (max-width: 340px) {
  .navbar {
    position: absolute;
    top: 10%;
  }
  .nav-items {
    position: absolute;
    top: 10%;
  }
  .navbar li {
    padding: 1px;
  }

  .nav-link {
    font-size: 0.9rem;
    font-weight: 900;
    padding: 1px;
    border-radius: 5px;
  }

  .purple-div {
    font-size: 1.1rem;
    padding: 40px 20px 0px 20px;
  }
}
